
@{
    ViewData["Title"] = "Attendance";
}

<div style="padding:2%;font-size: large;font-family: cursive;color: crimson; font-weight:bold;">
    <div class="row">
        <div class="col-lg-4">
            <label>Employee ID :</label>
            <input type="text" id="txtEmpID" class="form-control" />
        </div>
        <div class="col-lg-4">
<div class="row">
    <div class="col-lg-0" style="padding:1%;">
        <label>Employee ID :70912</label>
        <label id="lblEmpID"></label>
    </div>
                <div class="col-lg-0" style="padding:1%;">
                    <label>Employee Name :Kulothungan.K</label>
                    <label id="lblEmpName"></label>
                </div>
                <div class="col-lg-0" style="padding:1%;">
                    <label>DepartMent :T&D</label>
                    <label id="lblDepart"></label>
                </div>
                <div class="col-lg-0" style="padding:1%;">
                    <label>Designation :Manager</label>
                    <label id="lblDesig"></label>
                </div>
</div>
        </div>
        <div class="col-lg-4">
            <img src="~/images/syrmasgs.png" style="width:32%;margin-left:40%;" />
        </div>
    </div>
    <div class="row">
        <div style="padding:2%;" >
            <table class="table table-striped table-hover overflow-scroll"  border="1">
                <tr class="table-dark">
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>DepartMent</th>
                    <th>Designation</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>70192</td>
                        <td>Kulothungan</td>
                        <td>T&D</td>
                        <td>Manager</td>
                        <td> @DateTime.Now.ToString() </td>
                        <td> @DateTime.Now.ToString() </td>
                    </tr>
                }
                

                
            </table>

        </div>
    </div>
</div>



