@model EmployeeDetails
@{
    ViewData["Title"] = "EmployeeMaster";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>


<div class="container backstyle">
    <h3>EmployeeMaster</h3>
    
    <section>
        <form id="employeeForm" asp-action="EmployeeMaster" method="post" style="font-size:100%;">
        <div class="row">
            <div class="col-lg-0">
                <label>Employee ID :</label>
                <input type="text" class="form-control" asp-for="EMPLOYEEID" style="width:32%;" />
            </div>
            </div>
      
        <div class="row" style="padding:1%">
            <div class="col-lg-4">
                <label>Employee Name :</label>
                <input type="text" class="form-control" asp-for="EMPLOYEENAME" />
            </div>
            @* <div class="col-lg-4">
                <label>Middle Name :</label>
                <input type="text" class="form-control" asp-for="MiddleName" />
            </div>
            <div class="col-lg-4">
                <label>Last Name :</label>
                <input type="text" class="form-control" asp-for="LastName" />
            </div> *@
            <div class="col-lg-4">
                <label>Date of Birth :</label>
                <input type="date" class="form-control" asp-for="DOB" />
            </div>
            <div class="col-lg-4">
                <label>Date of Joining :</label>
                <input type="date" class="form-control" asp-for="DOJ" />
            </div>
        </div>
       @*  <div class="row">
            
            <div class="col-lg-4">
                <label>FathersName :</label>
                <input type="text" class="form-control" asp-for="FathersName" />
            </div>
        </div> *@
            <div class="row" style="padding:1%">
            <div class="col-lg-4">
                <label>Gender :</label>
                <select class="form-control" asp-for="GENDER">
                    <option value="0">Select</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Transgender</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label>Department :</label>
                 <select id="DEPARTMENTID" asp-for="DEPARTMENTID" asp-items="Model.ddlDepartment" class="form-control"></select>
            </div>
            <div class="col-lg-4">
                <label>SubDepartment :</label>
                 <select id="SUBDEPARTMENTID" class="form-control"></select>
            </div>
        </div>
            <div class="row" style="padding:1%">
            <div class="col-lg-4">
                <label>Designation :</label>
                <select asp-for="DESIGNATIONID" asp-items="Model.ddlDesignation" class="form-control">
                </select>
            </div>
            <div class="col-lg-4">
                <label>Grade :</label>
                <select asp-for="CATEGORYID" asp-items="Model.ddlCategory" class="form-control">
                </select>
            </div>
            <div class="col-lg-4">
                <label>Location :</label>
                <select asp-for="UNIT" asp-items="Model.ddlUnit" class="form-control">
                </select>
            </div>
        </div>
      @*   <div class="row">
            <div class="col-lg-4">
                <label>Division :</label>
                <select asp-for="Designation" class="form-control">
                    <option value="0">Select</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label>ReportingTo :</label>
                <select asp-for="LeaveReportingTo" class="form-control">
                    <option value="0">Select</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label>Shift Pattern :</label>
                <select asp-for="ShiftPattern" class="form-control">
                    <option value="0">Select</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>User Mode :</label>
                <select asp-for="UserMod" class="form-control">
                    <option value="0">Select</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label>Status Flag :</label>
                <select asp-for="StatusFlag" class="form-control">
                    <option value="0">Select</option>
                </select>
            </div> *@
           @*  <div class="col-lg-4">
                <label>Shift Pattern :</label>
                <select asp-for="ShiftPattern">
                    <option value="0">Select</option>
                </select>
            </div> *@
        @* </div> *@
        <div class="row" style="padding-left:87%;padding-top:1%;">
            <div class="col-lg-0">
                <input type="submit" id="btnSave" name="Save" value="Save"  class="btn btn-primary"/>
                <input type="button" id="btnSave" name="Clear" value="Clear" class="btn btn-info" onclick="clearForm()" />
            </div>
        </div>
        </form>
    </section>
</div>
<style>
    .backstyle
    {
        color: brown;
        background: rgba(255,255,255,0.6);
        padding: 25px 50px 25px;
        font-family: cursive;
    }
</style>

<script type="text/javascript">
    // Function to clear the form
    function clearForm() {
        document.getElementById("employeeForm").reset();
    }

    $(document).ready(function () {
        // Event handler for department dropdown change
        $('#DEPARTMENTID').change(function () {
            debugger;
            var departmentid = $(this).val();

            if (departmentid > 0) {
                $.ajax({
                    url: '@Url.Action("Subdepartment", "Employee")', // Adjust the URL accordingly
                    type: 'GET',
                    data: { departmentId: departmentid },
                    success: function (data) {
                        var $subDepartmentDropdown = $('#SUBDEPARTMENTID');
                        $subDepartmentDropdown.empty(); // Clear existing options
                        $.each(data, function (index, item) {
                            $subDepartmentDropdown.append($('<option>', {
                                value: item.subDepartmentid,
                                text: item.subDepartmentName
                            }));
                        });
                    },
                    error: function () {
                        alert('Failed to load sub-departments.');
                    }
                });
            } else {
                // Clear the sub-department dropdown if no department is selected
                $('#SUBDEPARTMENTID').empty();
                $('#SUBDEPARTMENTID').append($('<option>', {
                    value: "0",
                    text: "Select"
                }));
            }
        });
    });
</script>

